* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    color: white;
    height: 56px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    padding: 0 0.5rem;
}

.menu-btn-and-logo {
    display: flex;
    gap: 1.5rem;
    color: white;
}

.menu-btn-and-logo div {
    height: 20px;
}

.settings-btn {
    background: none;
    color: white;
    border: none;
}

.signin-btn {
    background: transparent;
    color: #3ea6ff;
    border-radius: 20px;
    padding: .5rem;
    font-weight: bold;
    border: 2px solid #263850;
    display: inline-flex;
    gap: .5rem;
    align-items: center;
    font-size: 14px;
}

.signin-btn:hover {
    background-color: #263850;
    border-color: transparent;
    cursor: pointer;
}
.sideMenu, .mainContent {
    overflow-y: scroll;
}

main {
    background-color: aqua;
    flex-grow: 1;
    display: flex;
    overflow-y: hidden;
}

.sideMenu {
    width: 240px;
    background-color: rebeccapurple;
    flex-shrink: 0;
}

.mainContent {
    background-color: darkgoldenrod;
    flex-grow: 1;
}
