* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    color: white;
    height: 56px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    padding: 0 0.5rem;
}

.menu-btn-and-logo {
    display: flex;
    gap: 1.5rem;
    color: white;
}

.menu-btn-and-logo div {
    height: 20px;
    color: white;
}
.sideMenu, .mainContent {
    overflow-y: scroll;
}

main {
    background-color: aqua;
    flex-grow: 1;
    display: flex;
    overflow-y: hidden;
}

.sideMenu {
    width: 240px;
    background-color: rebeccapurple;
    flex-shrink: 0;
}

.mainContent {
    background-color: darkgoldenrod;
    flex-grow: 1;
}
