* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: brown;
    height: 56px;
}

main, .sideMenu, .mainContent {
    overflow-y: scroll;
}
main {
    background-color: aqua;
    flex-grow: 1;
    display: flex;
}

.sideMenu {
    width: 240px;
    background-color: rebeccapurple;
    flex-shrink: 0;
}

.mainContent {
    background-color: darkgoldenrod;
    flex-grow: 1;
}